@import "tailwindcss";

body {
  font-family: 'Bebas Neue', 'Poppins', sans-serif;
  overflow-x: hidden;
}

@theme {
  --color-custom-black: hsl(0, 0%, 5%);
  --color-custom-black-2: hsl(0, 0%, 30%);
  --color-custom-gray: #aaaaaa;
}

:root {
  background-color: var(--color-custom-black);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-custom-black);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-custom-black-2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}